/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Almarai|Montserrat|Raleway|Roboto&display=swap');
/*General*/
body{
	margin: 0px;
	padding: 0px;

}


/*Cabecera */

header{
	width: auto;
	height: auto;
}
	/*Buscador*/
	#Buscador{
		position: absolute;
		top: 5%;
		right: 5%;
		display: inline;
		display: flex;
	}
	.searchTerm {
		width: 100%;
		border: 3px solid #BF036A;
		border-right: none;
		padding: 5px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: rgb(255, 255, 255);
	}

	.searchTerm:focus{
		color: rgb(10, 10, 10);
	}

	.searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #BF036A;
		background: #BF036A;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	}

	/*Logo*/
	.logo{
		margin:10px;
	}



 /*-------------------------------MENÚ DISEÑO ADAPTATIVO--------------------------------*/
 
 .topnav{
	background-color:#BF036A;
	font-family: 'Montserrat', sans-serif;	
	font-size:16px;
}
.topnav ul{
	margin: 0px;
	padding: 0px;
	}
.topnav li{
	display:inline-block; 
	padding: 0.5em;
	}
.topnav li a{
	color:black;
	display:inline-block; 
	text-decoration: none; 
	padding: 0.5em; 
	text-align: center; 

 }

.topnav li:focus,.topnav li a:hover {
	color:black; 
	background-color:white;
}

/*Ocultar icono*/
 .topnav .icon{
	 display: none;
 }
 @media screen and (max-width: 600px){
	 .topnav ul li:not(:first-child):not(:last-child){
		 display: none;
	 }
	 .topnav .icon{
		 display:block;
	 }

	 
	 #Buscador{
		display: none;
	 }
	 .topnav ul li:last-child{
		 float:right;
		 margin-top: 0.5em;

	 }
	 nav.topnav{
			 position: relative;
		 }

	 ul#myTopnav li .icon{
		 position: absolute;
		 right:0.5em;
		 top:1em;
		 }
 } 

 @media screen and (max-width: 600px){
	  ul#myTopnav.responsive li{
		 display:block;
	  } 
	  ul#myTopnav.responsive li:not(:first-child) a{
		  width: 95%;
	  }
 }
/*---------------------------------CUERPO DE LA WEB------------------------------------------*/
.principal{
	margin:2%;
	font-size:16px;
	font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Almarai', sans-serif;
	font-size:36px;
}
.texto{
	text-align: justify;
}
.texto p:first-letter {
	font-size: 2em;
  }
 
  

/*---REDES SOCIALES---*/


.redes {
	float: right;
	display: block;
	margin-right: 5px;
  }
  
  .redes i {
	padding: 5px;
	color: #000;
	font-size:2em;
	cursor: pointer;
  }

/*---------Imagenes galeria-----------*/

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* botones */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Numeración (1/3 ) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* indicadores */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/*-----------------------------------Ariculo CONTACTO------------------------------*/

#contacto{
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #BF036A;

}

#contacto label{
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
#contacto div{
	align-items: center;
	justify-content: center;
	display: flex;
	margin-bottom: 5%;
}
#buscarcontacto{
		border: 1px solid black;
		background: black;
		text-align: center;
		color: #fff;
		border-radius: 5px 5px 5px 5px;
		cursor: pointer;
		font-size: 15px;
		height: 25px;
		right: 15px;
		width: 25%;
}


#buscarcontactoText {
	width: 50%;
	border: 3px solid #BF036A;
	border-right: none;
	height: 20px;
	right: 15px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	color: black;
	margin: 1%;
}

#buscarcontacto:focus #buscarcontacto:hover{
	color:#BF036A;
	background-color: white;
}


/*-----------------------------------FINAL----------------------------------------*/
address{
	display: flex;
	justify-content: flex-end;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}