@font-face{
    font-family: "playball";
    src: url("playball.woff");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "playball";
    text-align: justify;
}

h1, h2, h3, footer{
    color:white;
    background-color: #e64d1a;
}

main{
    margin:1em 2% 1em 5%;
    border-left: #e64d1a 2px solid;
    border-right:#e64d1a 2px solid;
    padding: 0 7%;

}

article{
    background-color: #ffd9cc;
    padding-bottom:1.2em ;
    margin-bottom: 1.2em;
}

section{
    margin: 1em 5% 1.5em 5%;
    background-color: white;
    overflow: auto;
}

figure{
    float: right;
    width: 30%;
}

section header, section>p{
    width: 70%;
}

p{
    display: block;
    padding: 2%;
}

figure{
    margin:1em 2% 1em 5%;
    border-left: #e64d1a 2px solid;
    padding: 0 7%;
}
