/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Almarai|Montserrat|Raleway|Roboto&display=swap');
/*General*/
body{
	margin: 0px;
	padding: 0px;

}

/*Cabecera */

header{
	width: auto;
	height: auto;
}
	/*Buscador*/
	#Buscador{
		position: absolute;
		top: 5%;
		right: 5%;
		display: inline;
		display: flex;
	}
	.searchTerm {
		width: 100%;
		border: 3px solid #BF036A;
		border-right: none;
		padding: 5px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: rgb(255, 255, 255);
	}

	.searchTerm:focus{
		color: rgb(10, 10, 10);
	}

	.searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #BF036A;
		background: #BF036A;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	}

	/*Logo*/
	.logo{
		margin:10px;
	}

	
	/*-----------------------------------ARTICULO----------------------------------------*/
	#enlace{
		display: none;
	}
	.tarea{
	margin:10%;
	}

	.tarea iframe{
		position: relative;
		width:420px;
		height:320px;
	}
	
	.tarea {
		display: block;
		border: black solid 1px;
	}
	@media screen and (max-width: 600px){
		
		#Buscador{
		   display: none;
		}
		.tarea iframe{
			display: none;
		}
		#enlace{
			display:block;

		}
		.tarea{
			margin: 5px;
		}
		address{
			margin: 5px;
		}
	}
	/*-----------------------------------FINAL----------------------------------------*/
address{
	display: flex;
	justify-content: flex-end;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}