*{
    background-color: #987265;
    text-align: center;
    padding: 1%;

}
head{
    background-color: ;
}

article{
    background-color: #B29E97;
}

h3{
    background-color: #fff;
    color:black;
}
main{
    border: solid 2px #B59990;
}

article p{
    background-color: #B29E97;
    display: block;
    border:solid 1px #422B24;
}
footer p{
    border-top: solid 1px #422B24;
    background-color: #9D847B;
}