#products{
    padding: 3%;
    border: hsl(35, 100%, 80% ) 2px solid;
    margin:1em;
}
#testimonials{
    border-radius: 20px;
    padding: 3% 8%;
    margin: 3% 8%;
}
h3{
    border-left:3px orange solid;
    border-top:1px orange solid;
    padding-left: 1em ;
}