li{
    display: inline;
}
#nav{
    padding: 1px;
}
a{
    border: 1px solid #ba89a8;
    border-radius: 10%;
    padding: 7px;

}
a:focus {
    border: 1px solid #ffffff;
    border-radius: 10%;
    padding: 7px;
}
a:hover{
    border: 1px solid #ffffff;
    border-radius: 10%;
    padding: 7px;
}