/*General*/
*{
	margin: 0;
	padding: 0;
}


header{
	width: auto;
	height: auto;
}


.wrapper{
	width: 90%;
	margin: auto;
}
/*Cabecera */

	/*Buscador*/
	#Buscador{
		position: absolute;
		top: 5%;
		right: 5%;
		display: inline;
		display: flex;
	}
	.searchTerm {
		width: 100%;
		border: 3px solid #BF036A;
		border-right: none;
		padding: 5px;
		height: 20px;
		border-radius: 5px 0 0 5px;
		outline: none;
		color: rgb(255, 255, 255);
	}

	.searchTerm:focus{
		color: rgb(10, 10, 10);
	}

	.searchButton {
		width: 40px;
		height: 36px;
		border: 1px solid #BF036A;
		background: #BF036A;
		text-align: center;
		color: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;
		font-size: 20px;
	}

	.wrap{
		width: 30%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	/*Logo*/
	.logo{
		margin:10px;
	}

/*Menú*/
.topnav {
	background-color: #BF036A;
	margin: 0px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
li{display: inline-block;}

li.icon{
	background: url("imagenes/-person_90382.png") 0 3px no-repeat;
	padding: 0 0 5px 15px;
}
