div#products img{
    width: 100%;
    
}
div#products p{
    float:left;
    width:50%;
}
div#products{
    overflow: hidden;
}
h3{
    clear: both;
}


div#products p:last-of-type{
        clear: both;
}
    
div#products p:last-of-type(3n){
        width: 100%;
}