*{
    max-width: 960px;
    min-width: 720px;
    width: 960px;
    margin: 0 auto;
}

body>header{
    background-color: #5F2680;
    text-align: center;
    margin:1%;
    padding: 2%;

}

@font-face { 
    font-family: 'YeonSung';
     src: url('fonts/YeonSung-Regular.ttf')}

h1{
        font-family: "YeonSung", sans-serif;
        color: #ffffff;
        font-size: 300%;
        margin: 1%;
    
    } 
li{
    display: inline;
    border: solid 2px #ffffff;
    margin: 1px;
    padding: 5px;
    background: #BE4DFF; 
    color:#ffffff;
}

li:hover{
    background: #ffffff;
    color:#5F2680
}
article{
    background: #da99ff;
    width: 50%;
    margin-left:25%;
    padding: 3%;
    color: #5F2680;
    margin-top: 1%;
    clear: both;
    border-radius: 20px 20px;
}


#datos{
    
    width: 20%;
    
}
#funciones{
   
    width: 20%;
}


input, select{
    width: 1%;
}
label{
    display: block;
    text-align: left;
}


section{
    border-radius: 20px 20px;
background: #5F2680;
 margin:1%;

}
h4{
    color:white;
}
p{
    color: black;
}

#id{
    width: 22.5%;
    float: left;
    margin-left: 2.5%;
   
}
#taquilla{
  width: 22.5%;
    float: left;
    margin-left: 2.5%;
}
#grup{
    width: 22.5%;
    float: left;
    margin-left: 2.5%;
    
}
footer{
    clear: both;
    text-align: center;
    color: #5F2680;
}
