@font-face {
    font-family: "Cabin Sketch";
    src: url("cabin_sketch.woff");
  }
  @font-face {
    font-family: "Gabriela";
    src: url("gabriela.woff");
  }

  body{
      background-color:#C7C8D1;
  }
  h1{
    font-family: "Cabin Sketch";
    color:#595C76;
    text-align: center;
    text-transform: uppercase;
    
  }


  header{
    font-family: "Gabriela";
  }


article{
  
  margin: 20px;
}
  article.fut{
    border-radius: 0px 20px 20px 20px;
    border: solid #CC5100;
    background-color: #FFA666;

    
  }
  section.info_fut{
    background-color: #DB5B00;
    padding: 10px;
  }
   header.fut{
    border-top-right-radius: 16px;
    border: solid #CC5100;
    background-color:#CC5500;
    
   }

    article.lit{
      border-radius: 20px 0px;
      border: solid #E600E6;
      background-color: #FDCAFD;


    }
   
    header.lit{
      border-top-left-radius: 16px;
      border: solid #E600E6;
      background-color:#E600E6;

    }
    section.info_lit{
      background-color: #FE7FFE;
      padding: 5px;
    }
  
  