#header{
    /*Fondo color con transparencia con hsla( )y con imagen de fondo*/

    background: left repeat-y url(images/purpledot.png),
     right repeat-y url(images/purpledot.png),
     90% bottom  no-repeat url(images/gooseshadow.png);

     /*Color: */
     background-color:hsla(60, 25%, 85%, 0.6);  
  
}
body{
    /*Fondo color y con imagen de fondo fija*/
    background: repeat-y center top #D2DC9D url(images/blackgoose.png) fixed;
    /*background-size:10%;*/

}
h2{
    color:red;
}

/* Los a tienen que ir si o si así: link (normal),visited(visitada),hover(pasar por encima el ratón)*/
a:link{
    text-decoration:none;
    color: rebeccapurple;
}
a:visited{
    text-decoration:none;
    color: rgb(39, 23, 184);
}
a:hover{ 
    background-color: white;
}
