/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
• Asignar estilos básicos.
	o Importa los estilos clear.css, para partir de un diseño sin formatos predefinidos.
	o Listas: quitar las viñetas.
	o Formulario (form): dar formato al ancho, color de fondo, esquinas, sombra y
		relleno.*/
		ul { list-style-type: none; margin: 0; padding: 0; }

		form{
			background: blanchedalmond;
			width: 90%;
			border-radius: 5% 5%;
			box-shadow: 2px 2px 10px #666;
			clear: both;
		}

/**		
• Alinear etiquetas e inputs de la parte superior del formulario.
	o Etiquetas (label) “Name”, “Email”, “Telephone”, “Your story”:
			▪ Les asignamos un display: block
			▪ Hacemos que floten a la izquierda.
			▪ Damos un ancho
			▪ Alineamos el texto a la derecha
			▪ Asignamos un pequeño margen a la derecha para separarlas del campo
			de datos.
	o Campos de datos (input y textarea): dar formato al ancho, altura, además de lo
		que veamos necesario de márgenes, rellenos, colores.
	*/


	label{
		display: block;
		float:left;
		width: 20%;
		text-align: left;
		margin-left: 20% ;
	}
	input, textarea{
		width: 45%;
		height: 10%;
		margin:2px;

	}
/**
• Configurar los fieldsets y otras etiquetas.
	o Fieldset: eliminar el borde, los rellenos y márgenes.
	o Legend: dar el mismo estilo que a las etiquetas de la parte superior del
	formulario.
	o Lista de “Colores”: asignamos display:inline a los elementos li.
	o Lista de “Features”: Para que salgan alineados los checkboxs, la lista ul deben
	tener un margen suficiente a la izquierda.*/

legend{
		display: block;
		float:left;
		width: 20%;
		text-align: left;
		margin-left: 20% ;
}
li label input{
	display: inline;
}

/**	
• Ajustar el formato de los botones.
*/


