body{
    background-color: #FDF9BD;
}
#tit{
    color: orange;
    display: block;
    text-align: center;
    
}
#a{
    font-style:italic;
    text-align: center;

}
#cuadros{
    border: solid black 1px;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}
h1,h3{color: orange}
h2{color: #751C54}
hr{
        height:3px;
		background-color:#751C54;
		clear:both;}

#cuadro{

    background-color: white;
    border: solid orange 2px;
    padding: 5px;
}
i{color: orange;}
#cubos{
    text-align: center;
    background-color: #751C54;

}
#final{text-align: center;
color:gray;}

img.logo{}
img.oferta{float: left;}
img.cer{float: left}
img.cam{float: left}




