
/*Diseño de ancho fijo (todo en px)*/
#wrapper{
    width:1000px;
    /*Página está centrada en la ventana. */
    margin: 0 auto;
}

/* Posicionamiento de las columnas: flotante*/
#extras{
    float:left;
    width: 330px;

}
#main{
    float:left;
    width: 580px;
    margin: 0 20px;
}
#footer{
    clear:both;
}





